@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --PADDING: 5px;
    --MARGIN: 5px;
    --HEADERCOLOR: hsla(209, 86%, 11%, 0.991);
    --BGCOLOR: hsl(196, 87%, 64%);
    --FRONTPAGEFONT: 'Bebas Neue', sans-serif;
    --HEADERFONT: 'Salsa', cursive;
}

header {
    background-color: var(--BGCOLOR);
    position: sticky;
    top: 0;
    font-family: var(--HEADERFONT);
    z-index: 100;
}

.nav_bar {
    padding: var(--PADDING);
    /* margin: var(--margin); */
    /* margin-bottom: var(--MARGIN); */
    margin-left: var(--MARGIN);
    margin-right: var(--MARGIN);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* transform-origin: right; */
}

.nav_links ul li {
    list-style: none;
}

.nav_bar a:any-link {
    color: var(--BGCOLOR);
    text-decoration: none;
}

.fa-xmark {
    color: var(--BGCOLOR);
}

.fa-angles-up {
    position: fixed;
    z-index: 10;
    font-size: 40px;
    right: 20px;
    bottom: 20px;
    display: none;
    color: rgba(173, 57, 227, 0.986);
}

/* this is style of nav block we have to change it in media */
.nav_links {
    position: fixed;
    right: -1200px;
    height: 100dvh;
    background-color: var(--HEADERCOLOR);
    z-index: 10000;
    width: 45%;
    top: 0;
    padding: var(--PADDING);
    transition: all 2s ease-in-out 0s;
}

.nav_links ul {
    margin-top: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 30px;
}

.fa-xmark {
    padding: 5px;
    margin: 10px;
}

/* opto this */


.profilepic {
    width: 65px;
    height: 65px;
    background-image: url(../img/my_pic_900X1600.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px double var(--HEADERCOLOR);
    border-radius: 50px;
    background-position: 10% 25%;
}

.logo {
    display: flex;
    gap: 5px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.nav_bar i {
    font-size: 30px;
}

.logo a {
    font-size: x-large;
}

.logo a:any-link {
    color: var(--HEADERCOLOR);
}

.firstpage {
    /* padding: var(--PADDING); */
    /* margin: var(--MARGIN); */
    /* height: 95dvh; */
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 25px;
    text-align: justify;
    background-image: radial-gradient(hwb(0 99% 0%), rgb(112, 112, 244));
    height: max-content;
}

.firstpage p {
    padding: 10px;
    width: 80%;
    height: auto;
    font: var(--FRONTPAGEFONT);
    font-family: 'Bebas Neue', sans-serif;
}


i:hover{
    cursor: pointer;
}

.qualification {
    /* padding: var(--PADDING); */
    /* margin: var(--MARGIN); */
    margin-top: 30px;
    /* display: inline; */
}
.qualification h2{
    font-family: var(--HEADERFONT);
    /* font-size: xx-large; */
}

.divider-text {
    position: relative;
    text-align: center;
}

.divider-text:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 1px;
    background: #d36161;
}

.divider-text span {
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    background: #d36161;
    z-index: 9;
}

.qualificationColumn{
    /* padding: 10px; */
    /* margin: 10px; */
    margin-top: 30px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 10px;
    overflow: hidden;
    grid-auto-flow: column dense;
    /* background-color: rgb(13, 143, 143); */
    background-image: linear-gradient(rgba(230, 198, 198, 0.669), rgba(230, 230, 97, 0.749), rgba(106, 168, 176, 0.703));
    font-size: 20px;
    /* height: 100dvh; */
    border-radius: 20px;
}
.qualificationColumn .education, .skills{
    background-color: rgba(170, 141, 236, 0.295);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
}

.education, .skills{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-direction: column;
    gap: 15px;
}
/* .education, .skills p{
    margin: 8px;
    padding: 8px;
} */

.certificateSection{
    margin-top: 30px;
}

.certificateSection h2{
    font-family: var(--HEADERFONT);
}

.certificates{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    /* background-color: blue; */
    /* background-color: radial-gradient(30deg, orange, pink, seagreen); */
    background-color: rgba(255, 228, 196, 0.527);
}

.slider{
    position: absolute;
    inset: 80px 200px 80px 80px;
    background: #ccc;
    border-radius: 20px;
}

.slider .slides{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 240px;
    height: 320px;
    background: var(--img);
    /* background: red; */
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
}
.slider .slides:nth-child(1),
.slider .slides:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0);
    background-size: cover;
}
.slider .slides:nth-child(3){
    left: calc(50% + 240px);
    background-size: cover;
}
.slider .slides:nth-child(4){
    left: calc(50% + 500px);
    background-size: cover;
}
.slider .slides:nth-child(5){
    left: calc(50% + 760px);
    background-size: cover;
}
.slider .slides:nth-child(6){
    left: calc(50% + 1020px);
    background-size: cover;
}
.slider .slides:nth-child(7){
    left: calc(50% + 1280px);
    background-size: cover;
}
.slider .slides:nth-child(8){
    left: calc(50% + 1540px);
    background-size: cover;
}
.slider .slides:nth-child(9){
    left: calc(50% + 1800px);
    background-size: cover;
    opacity: 0;
}
.buttons{
    position: absolute;
    bottom: 15px;
    display: flex;
    gap: 20px;
}
.buttons span{
    position: relative;
    width: 50px;
    height: 50px;
    background: rgba(169, 71, 71, 0.61);
    /* color: black; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.buttons span::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 4px solid white;
    border-left: 4px solid white;
    transform: rotate(315deg) translate(2px, 2px);
}
.buttons span:nth-child(2)::before{
    transform: rotate(135deg) translate(2px, 2px);
}
.buttons span:active{
    opacity: 0.5;
}

footer{
    background: #343434;
    padding-top: 50px;
    color: white;
}
footer .container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 33.3%;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width: 190px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align:center;
    padding: 0;
}
.social-icons li{
    /* display: inline-block; */
    list-style-type: none;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: #f18930;
}
.social-icons i:hover{
    color: #f18930;
}
.bottom-bar{
    background: #f18930;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}
/* all media from here */

@media (max-width: 800px){
    .slider{
        position: absolute;
        inset: 20px 20px 250px 20px;
    }
    .slider .slides{
        width: 100px;
        height: 100px;
        top: initial;
        bottom: -200px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    }
    .slider .slides:nth-child(1),
    .slider .slides:nth-child(2){
        top: initial;
        bottom: 0px;
    }
    .slider .slides:nth-child(3){
        left: 0;
    }
    .slider .slides:nth-child(4){
        left: 120px;
    }
    .slider .slides:nth-child(5){
        left: 240px;
    }
    .slider .slides:nth-child(6){
        left: 360px;
    }
    .slider .slides:nth-child(7){
        left: 480px;
    }
    .slider .slides:nth-child(8){
        left: 600px;
    }
    .slider .slides:nth-child(9){
        left: 720px;
    }
}

@media screen and (min-width: 550px) {
    .nav_links{
        width: 30%;
    }
}
@media screen and (min-width: 644px) {
    .firstpage {
        height: 95dvh;
    }
}
@media screen and (min-width: 800px) {
    .firstpage {
        height: 95vh;
    }
    .nav_bar i {
        display: none;
    }

    .nav_links {
        position: static;
        right: auto;
        height: auto;
        background-color: var(--BGCOLOR);
        z-index: 0;
        width: auto;
        top: 0;
        padding: var(--PADDING);
        transition: none 2s ease-in-out 0s;
    }

    .nav_bar a:any-link {
        color: var(--HEADERCOLOR);
    }

    .nav_links ul {
        margin-top: auto;
        padding: 10px;
        display: flex;
        flex-direction: row;
        gap: 40px;
        font-size: 30px;

    }

    .logo a {
        font-size: x-large;
    }
    .qualificationColumn{
        padding: 10px;
        margin: 10px;
        display: grid;
        grid-template-rows: none;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        overflow: hidden;
        grid-auto-rows: 1fr;
        grid-auto-columns: 1fr;
        /* grid-auto-flow: unset; */
        grid-auto-flow: row dense;
        font-size: 30px;
        margin-top: 30px;
    }
}
@media screen and (min-width: 1150px) {
    .firstpage {
        height: 95dvh;
    }
    .firstpage p {
        font-size: 28px;
        line-height: 1.5;
    }
    .qualification h2{
        font-family: var(--HEADERFONT);
        font-size: xx-large;
    }
    .divider-text:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0px;
        width: 100%;
        height: 3px;
        background: #d36161;
    }
    .qualificationColumn{
        column-gap: 50px;
        font-size: 25px;
    }
    
}